---
layout: page
---

<div style="width:100%;text-align:right;">
    <a href="{{ site.url }}/category" title="Category List">Category List</a> -
    <a href="{{ site.url }}/feed.xml" title="RSS Feed">RSS Feed</a>
</div>

<br>

{{ page.description }}

<ul class="posts">
  {% for post in site.categories[page.category] %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span> ::
      <a class="post-link" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
     
      <!-- {{ post.url }} -->

      @ {
        {% assign tag = post.tags | sort %}
        {% for category in tag %}
        <span>
          <a href="{{ site.baseurl }}category/#{{ category }}">{{ category }}</a>
          {% if forloop.last != true %},{% endif %}
        </span>
        {% endfor %}
        {% assign tag = nil %}
      }
    </li>
  {% endfor %}
</ul>
