---
layout: page
---

<div class="post">

  <header class="post-header">
    <p class="meta">
        {{ page.date | date: "%b %-d, %Y" }}
        {% if page.author %} • {{ page.author }}{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
        •
        {% for category in page.tags %}<span><a href="{{ site.baseurl }}category/#{{ category }}">{{ category }}</a>{% if forloop.last != true %}, {% endif %}</span>{% endfor %}
    </p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

	<p class="feed-recomendation">
		If you like my posts, feel free to subscribe to my <a href="{{ site.url }}/feed.xml">RSS Feed</a>.
	</p>

</div>
